.heading {
    hyphens: none;
    letter-spacing: 3px;

    &__first {
        font-size: 5rem;
    }
}

.paragraph {

    hyphens: none;
    letter-spacing: 3px;

    &__first {
        font-size: 2.3rem;
    }
}
