.header {

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    width: 90vw;

    top: 0;
    left: 5vw;
    right: 5vw;

    &__logo {
        height: 20rem;
    }
}